/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade {
    /* you can add these to your existing class or a new one */
    opacity: 0;
    animation: fadeinout 3s infinite;
    animation-fill-mode: forwards;
 }

@keyframes fadeinout {
    /* 40% would be 3secs, 60% 4.5 secs */
    70% {
       opacity: 1;
    }
 
    0% {
       opacity: 0;
    }
 }